In [1]:
import pymysql
import pymysql.cursors

In [2]:
def set_connectionMySQL():
    db = pymysql .connect(host='127.0.0.1',user='root',password='root',database='proyNLP',port = 8889,cursorclass=pymysql.cursors.DictCursor)
    return db

In [3]:
def close_connectionMySQL():
    db = set_connectionMySQL()
    db.close()
    return

In [4]:
def ieee_select_query(sql):
    # DB: Declarar cursor
    db = set_connectionMySQL()
    # DB: Ejecutar consulta
    try:
        with db.cursor() as cursor:
            #cursor.execute("TRUNCATE TABLE tripletas")
            #sql = "SELECT Id, CAST(CONVERT(Concept USING utf8) AS binary) FROM 2017_IEEE_Taxonomy_v1 LIMIT 10"
            cursor.execute(sql)
            #cursor.execute("SELECT * FROM planes WHERE p='asignatura' or p='texto_numero' or p='texto_limpio' or p='resultado'")
            resultados = cursor.fetchall()
    except:
        db.rollback()
    return resultados

In [5]:
def triples_select_query(sql):
    # DB: Declarar cursor
    db = set_connectionMySQL()
    # DB: Ejecutar consulta
    try:
        with db.cursor() as cursor:
            #cursor.execute("TRUNCATE TABLE tripletas")
            #sql = "SELECT Id, CAST(CONVERT(Concept USING utf8) AS binary) FROM 2017_IEEE_Taxonomy_v1 LIMIT 10"
            sql = "SELECT * FROM tripletasSinSW"
            cursor.execute(sql)
            #cursor.execute("SELECT * FROM planes WHERE p='asignatura' or p='texto_numero' or p='texto_limpio' or p='resultado'")
            resultados = cursor.fetchall()
    except:
        db.rollback()
    return resultados

In [6]:
def insert_triples_query(s,p,o):
    # DB: Declarar cursor
    db = set_connectionMySQL()
    cursor = db.cursor()
    # DB: Ejecutar consulta
    try:
        with db.cursor() as cursor:
            sql = "INSERT INTO tripletas values ('%s', '%s', '%s')"
            cursor.execute(sql, (s, p, o))
    except:
        db.rollback()
    return